params {
   workDir = '/mnt/c/Users/User/kamila/WORKFLOWS/AMP/src/work'
   projectDir = '/mnt/c/Users/User/kamila/WORKFLOWS/AMP/src/project'
   launchDir = '/mnt/c/Users/User/kamila/WORKFLOWS/AMP/src/launch'
   homeDir = '/mnt/c/Users/User/kamila/WORKFLOWS/AMP/src'
   outDirectory = '/mnt/c/Users/User/kamila/WORKFLOWS/AMP/data'
   inputDirectory = '/mnt/c/Users/User/kamila/WORKFLOWS/AMP/input'
   projectDirectory = '/mnt/c/Users/User/kamila/WORKFLOWS/AMP/src/project/xsvato01/amp-nextflow_nf'
   ref = '/mnt/c/Users/User/kamila/WORKFLOWS/references/GRCh37/full_only/GRCh37'
   refindex = '/mnt/c/Users/User/kamila/WORKFLOWS/references/GRCh37/full_only/GRCh37.fa'
   gatk = '/mnt/c/Users/User/kamila/WORKFLOWS/references/gatk-4.1.8.1/gatk'
   varbed = '/mnt/c/Users/User/kamila/WORKFLOWS/AMP/src/project/xsvato01/amp-nextflow_nf/beds/AMP-bed.bed'
   teststrandbias = '/mnt/c/Users/User/kamila/WORKFLOWS/references/vardict/germline/teststrandbias.R'
   var2vcf_valid = '~/miniconda3/envs/kamila/bin/var2vcf_valid.pl'
   annovar = '/mnt/c/Users/User/kamila/WORKFLOWS/references/annovar/table_annovar.pl'
   gene_fullxref.txt = '/mnt/c/Users/User/kamila/WORKFLOWS/references/gene_fullxref.txt'
   scriptcoverage = '/mnt/c/Users/User/kamila/WORKFLOWS/AMP/src/project/xsvato01/amp-nextflow_nf/scripts/scriptcoverage'
}

process {
   errorStrategy = 'finish'
   process.shell = ['/bin/bash','-e']
   cpus = 1
   memory = '1GB'
}
