params {
   workDir = '/mnt/hdd2/anna/AMP/src/work'
   projectDir = '/mnt/hdd2/anna/AMP/src/project'
   launchDir = '/mnt/hdd2/anna/AMP/src/launch'
   homeDir = '/mnt/hdd2/anna/AMP/src'
   outDirectory = '/mnt/hdd2/anna/AMP/data'
   inputDirectory = '/mnt/hdd2/anna/AMP/input'
   baseDir = '/mnt/hdd2/anna/AMP/input'
   //projectDirectory = '/mnt/hdd2/anna/AMP/src/project/xsvato01/amp-nextflow_nf'
   projectDirectory = '/mnt/hdd2/anna/AMP/src/project/annbeny/amp-nextflow_nf'
   ref = '/mnt/hdd2/reference/kristina/GRCh37/full_only/GRCh37'
   refindex = '/mnt/hdd2/reference/kristina/GRCh37/full_only/GRCh37.fa'
   //gatk = '/home/anna/SOFT/gatk/gatk'
   gatk = '/home/anna/SOFT/gatk-4.1.8.1/gatk'
   //gatk36 = '/home/anna/SOFT/gatk36/package-archive_gatk_GenomeAnalysisTK-3.6-0-g89b7209/GenomeAnalysisTK.jar'
   gatk36 = '/mnt/hdd2/anna/TP53/src/project/xsvato01/TP53_nf/bin/GenomeAnalysisTK.jar'
   varbed = '/mnt/hdd2/anna/AMP/src/project/annbeny/amp-nextflow_nf/beds/AMP-bed.bed'
   teststrandbias = '/mnt/hdd2/anna/AMP/src/project/annbeny/amp-nextflow_nf/scripts/teststrandbias.R'
   var2vcf_valid = '/mnt/hdd2/anna/AMP/src/project/annbeny/amp-nextflow_nf/scripts/var2vcf_valid.pl'
   annovar = '/home/anna/SOFT/annovar/table_annovar.pl'
   annovardb = '/home/anna/SOFT/annovar/humandb/'
   gene_fullxref.txt = '/mnt/hdd2/reference/kristina/gene_fullxref.txt'
   scriptcoverage = '/mnt/hdd2/anna/AMP/src/project/annbeny/amp-nextflow_nf/scripts/scriptcoverage'
   java117 = '/usr/lib/jvm/java-1.17.0-openjdk-amd64/jre/bin/java'
}

/*
process {
   errorStrategy = 'finish'
   process.shell = ['/bin/bash','-e']
   cpus = 1
   memory = '1GB'
}
*/

process {
   errorStrategy = 'finish'
   shell = ['/bin/bash','-e']
   cpus = 2
   memory = '4GB'
}

// process.errorStrategy = 'retry'
// process.maxRetries = 3

// run different profiles with the following command: 
/// nextflow run pipeline.nf -profile standard
/// nextflow run pipeline.nf -profile high_mem
/// without the -profile option, the default profile (process) is used

profiles {
   standard {
      process {
         cpus = 1
         memory = '1GB'
      }
   }

   high_mem {
      process {
         cpus = 8
         memory = '32GB'
      }
   }
}



/*
params {
   workDir = '/mnt/hdd2/kristina/AMP-nextflow/src/work'
   projectDir = '/mnt/hdd2/kristina/AMP-nextflow/src/project'
   launchDir = '/mnt/hdd2/kristina/AMP-nextflow/src/launch'
   homeDir = '/mnt/hdd2/kristina/AMP-nextflow/src'
   outDirectory = '/mnt/hdd2/kristina/AMP-nextflow/data'
   inputDirectory = '/mnt/hdd2/kristina/AMP-nextflow/input'
   projectDirectory = '/mnt/hdd2/kristina/AMP-nextflow/src/project/xsvato01/amp-nextflow_nf'
   ref = '/mnt/hdd2/reference/GRCh37/full_only/GRCh37'
   refindex = '/mnt/hdd2/reference/GRCh37/full_only/GRCh37.fa'
   gatk = '~/SOFT/gatk-4.1.8.1/gatk'
   varbed = '/mnt/hdd2/kristina/AMP-nextflow/src/project/xsvato01/amp-nextflow_nf/beds/AMP-bed.bed'
*/


/*
params {
   workDir = '/mnt/hdd2/kristina/AMP-nextflow/src/work'
   projectDir = '/mnt/hdd2/kristina/AMP-nextflow/src/project'
   launchDir = '/mnt/hdd2/kristina/AMP-nextflow/src/launch'
   homeDir = '/mnt/hdd2/kristina/AMP-nextflow/src'
   outDirectory = '/mnt/hdd2/kristina/AMP-nextflow/data'
   inputDirectory = '/mnt/hdd2/kristina/AMP-nextflow/input'
   projectDirectory = '/mnt/hdd2/kristina/AMP-nextflow/src/project/xsvato01/amp-nextflow_nf'
   ref = '/mnt/hdd2/reference/GRCh37/full_only/GRCh37'
   refindex = '/mnt/hdd2/reference/GRCh37/full_only/GRCh37.fa'
   gatk = '~/SOFT/gatk-4.1.8.1/gatk'
   varbed = '/mnt/hdd2/kristina/AMP-nextflow/src/project/xsvato01/amp-nextflow_nf/beds/AMP-bed.bed'
   teststrandbias = '~/SOFT/vardict/germline/teststrandbias.R'
   var2vcf_valid = '~/miniconda3/envs/kamila/bin/var2vcf_valid.pl'
   annovar = '~/SOFT/annovar/table_annovar.pl'
   gene_fullxref.txt = '/mnt/hdd2/reference/gene_fullxref.txt'
   gatk = '~/SOFT/gatk-4.1.8.1/gatk'
   scriptcoverage = '/mnt/hdd2/kristina/AMP-nextflow/src/project/xsvato01/amp-nextflow_nf/scripts/scriptcoverage'
}

process {
   errorStrategy = 'finish'
   process.shell = ['/bin/bash','-e']
   cpus = 1
   memory = '1GB'
}
*/
